<h1>Danh sách sản phẩm</h1>
<table border="1">
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td>Xoa</td>
    <td>Chinh sua</td>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>
      <a (click)="openDeleteDialog(product.id)">xoa</a></td>
    <td>
      <a [routerLink]="['/product/edit', product.id]">
        chinh sua</a></td>
  </tr>
</table>
