<div class="sticky-wrapper">
  <div class="header-nav js-header-nav sticky" style="background-color: #027058">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <div class="navbar-collapse">
          <ul id="menu-furama-vi" class="menu navbar-nav w-100 js-main-menu">
            <li id="nav-menu-item-5006"
                class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
              <a href="https://furamavietnam.com/vi/the-resort/" class="nav-link main-menu-link"
                 style="color: aliceblue">GIỚI THIỆU</a></li>
            <li id="nav-menu-item-5007"
                class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
              <a href="https://furamavietnam.com/vi/our-rooms/" class="nav-link main-menu-link"
                 style="color: aliceblue">LOẠI PHÒNG</a></li>
            <li id="nav-menu-item-5008"
                class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
              <a href="https://furamavietnam.com/vi/culinary/" class="nav-link main-menu-link" style="color: aliceblue">ẨM
                THỰC</a></li>
            <li id="nav-menu-item-5009"
                class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
              <a href="https://furamavietnam.com/vi/meeting-and-events/" class="nav-link main-menu-link"
                 style="color: aliceblue">HỘI NGHỊ VÀ SỰ
                KIỆN</a></li>
            <li id="nav-menu-item-5010"
                class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
              <a href="https://furamavietnam.com/vi/spa-and-fitness/" class="nav-link main-menu-link"
                 style="color: aliceblue">SPA</a></li>
            <li id="nav-menu-item-5011"
                class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
              <a href="https://furamavietnam.com/vi/recreation/" class="nav-link main-menu-link"
                 style="color: aliceblue">GIẢI TRÍ</a></li>
            <li id="nav-menu-item-5012"
                class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
              <a href="https://furamavietnam.com/vi/destination/" class="nav-link main-menu-link"
                 style="color: aliceblue">ĐIỂM ĐẾN</a></li>
            <li id="nav-menu-item-5013"
                class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
              <a href="https://furamavietnam.com/vi/furama-special-offers/" class="nav-link main-menu-link"
                 style="color: aliceblue">ƯU ĐÃI</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<style>
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
<div class="container-fluid">
  <img src="https://furamavietnam.com/wp-content/uploads/2018/08/banner01.jpg?id=1433" alt="" width="100%">
  <div class="centered">
    <h1 style="font-family: 'Oswald', sans-serif;color: #ffff">Furama Resort</h1>
  </div>
</div>
