<form [formGroup]="registerForm" (ngSubmit)="createForm()" class="row g-3 container">
  <div class="col-md-6 form-group">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4"
           name="email"
           formControlName="email">
        <div *ngIf="registerForm.get('email')?.invalid
        && registerForm.get('email')?.touched"
             style="color: red">
          Không được để trống
        </div>
  </div>
  <div class="col-md-6 form-group">
    <label for="inputAge" class="form-label">Age</label>
    <input type="number" class="form-control" id="inputAge" formControlName="age">
  </div>
  <div class="col-12 form-group">
    <label for="inputAddress" class="form-label">Password</label>
    <input type="text" class="form-control" id="inputAddress" formControlName="password">
  </div>
  <div class="col-12 form-group">
    <label for="inputAddress2" class="form-label">Confirm Password</label>
    <input type="text" class="form-control" id="inputAddress2" formControlName="checkPassword">
  </div>
  <label>Gender</label>
  <div  class="form-check form-check-inline form-group">
    <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="option1">
    <label class="form-check-label" formControlName="radio1">Nam</label>
  </div>
  <div class="form-check form-check-inline form-group">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="option2">
    <label class="form-check-label"  formControlName="radio2">Nữ</label>
  </div>
  <div class="form-check form-check-inline form-group">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="option2">
    <label class="form-check-label" formControlName="radio3">LGBT</label>
  </div>

  <div class="col-md-4">
    <label for="country" class="form-label">Country</label>
    <select id="country" class="form-select" formControlName="country">
      <option disabled selected value="">Chon</option>
<!--      <option [ngValue]="r.id" *ngFor="let r of registerList">-->
      <option [ngValue]="item.id" *ngFor="let item of registerList">
        {{item.name}}
      </option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Phone</label>
    <input type="text" class="form-control" id="inputZip" placeholder="+84" formControlName="phone">
  </div>
  <div class="col-12">
    <button [disabled]="!registerForm.invalid"  type="submit"  class="btn btn-primary">Đăng ký</button>
  </div>
</form>
