<h2 style="text-align: center">List Customer</h2>
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>birthday</th>
    <th>gender</th>
    <th>IdCard</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>CustomerType</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers">
    <td>{{customer.id}}</td>
    <td>{{customer.name | titlecase}}</td>
    <td>{{customer.birthday}}</td>
    <td *ngIf="customer.gender">Nam</td>
    <td *ngIf="!customer.gender">Nữ</td>
    <td *ngIf="customer.gender == null">Other</td>
    <td>{{customer.idCard}}</td>
    <td>{{customer.phone}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.customerType.name}}</td>
    <td>
      <a class="m-2 btn btn-warning">Detail</a>
      <a [routerLink]="['/update-customer', customer.id]" class="m-2 btn btn-success">Edit</a>
      <a class="m-2 btn btn-danger">Delete</a>
    </td>
  </tr>
  </tbody>
</table>

