<div class="footer" style="background-color:  #A9F5F2;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-light" style="background-color: white">
        <h2 class="mb-1" style="color: goldenrod"></h2>
        <div class="d-flex flex-column flex-md-row flex-lg-column">
          <p>Furama is a premier base for exploring one of Asia’s most exciting new destinations. Just a
            short drive from Danang lay four UNESCO-listed World Heritage Sites:</p>
          <p class="pl-0 pl-md-3 pl-lg-0"><a href="#"
                                             class="btn btn-primary btn-with-arrow js-footer-map-toggle"><i
            class="icon-placeholder"></i><span
            class="opened-text">Close Map</span><span>View on Map</span></a></p>
        </div>
        <div class="mt-3 mt-md-1 mt-lg-3"></div>
        <h4 class="mb-1 mb-md-2" style="color: goldenrod"></h4>
        <table class="place-table">
          <tbody>
          <tr>
            <td>1.</td>
            <td>The former imperial city of HUE</td>
            <td class="text-right"><span>2 hours</span></td>
          </tr>
          <tr>
            <td>2.</td>
            <td>The ancient Hoi An</td>
            <td class="text-right"><span>30 minutes</span></td>
          </tr>
          <tr>
            <td>3.</td>
            <td>Champa civilization, My Son</td>
            <td class="text-right"><span> 90 minutes</span></td>
          </tr>
          <tr>
            <td>4.</td>
            <td>Phong Nha Caves</td>
            <td class="text-right"><span>3 hours</span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-7 ml-lg-auto d-flex flex-column position-static">
        <div class="row">
          <div class="col-sm col-lg-5">
            <div id="nav_menu-1" class="footer-widget4  widget_nav_menu">
              <div class="menu-footer-menu-container">
                <ul id="menu-footer-menu" class="menu">
                  <br>
                  <br>
                  <li id="menu-item-2437"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2437">
                    <a style="color: goldenrod" href="https://furamavietnam.com/activities/"></a>Giá Công Bố
                  </li>
                  <br>
                  <li id="menu-item-5737"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5737">
                    <a style="color: goldenrod" href="https://furamavietnam.com/furama-resort-danang-rack-rate/"></a>
                    Lifestyle Blog
                  </li>
                  <br>
                  <li id="menu-item-6658"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6658">
                    <a style="color: goldenrod" href="https://furamavietnam.com/lifestyle-blog/"></a>
                    Tuyển Dụng
                  </li>
                  <br>
                  <li id="menu-item-2461"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2461">
                    <a style="color: goldenrod" href="https://furamavietnam.com/work-with-us/"></a>Liên Hệ
                  </li>
                  <br>
                </ul>
              </div>
            </div>
            <div id="text-5" class="footer-widget4  widget_text">
              <div class="textwidget"></div>
            </div>
          </div>
          <div class="col-sm mt-2 mt-sm-0">
            <h4 style="color: goldenrod">
            </h4>
            <ul class="icn-list" style="width:150px">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg>
                <span style="color: #707070;font-size: 12px">103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam</span><br
                style="margin: 0px;padding: 0px;color: #707070;font-size: 12px"><span
                style="color: #707070;font-size: 12px">Tel.: 84-236-3847 333/888 *
</span><span style="color: #707070;font-size: 12px">Fax: 84-236-3847 666</span><br
                style="margin: 0px;padding: 0px;color: #707070;font-size: 12px"><span
                style="color: #707070;font-size: 12px">Email:&nbsp;</span><a class="link"
                                                                             style="margin: 0px;padding: 0px;color: #707070;font-size: 12px"
                                                                             href="mailto:reservation@furamavietnam.com">reservation@furamavietnam.com</a><span
                style="color: #707070;font-size: 12px">&nbsp;*&nbsp;</span><a class="link"
                                                                              style="margin: 0px;padding: 0px;color: #707070;font-size: 12px"
                                                                              href="https://www.furamavietnam.com/undefined/">www.furamavietnam.com</a>

                <p>&nbsp;</p>

                <a href="https://www.facebook.com/furamaresort/" target="_blank" rel="noopener"><img
                  style="width: 32px;height: 32px;float: left"
                  src="https://furamavietnam.com/wp-content/uploads/2019/06/incon-Facbook-1.png"
                  alt="" width="32" height="32"></a><a
                href="https://www.instagram.com/furama_resort_danang/?hl=vi" target="_blank"
                rel="noopener"><img style="width: 40px;height: 32px;float: left"
                                    src="https://furamavietnam.com/wp-content/uploads/2019/06/social-ins.png"
                                    alt="" width="40" height="32"></a><a
                href="https://www.youtube.com/user/furamaresortvietnam/featured"
                target="_blank" rel="noopener"><img
                style="width: 40px;height: 32px;float: left"
                src="https://furamavietnam.com/wp-content/uploads/2021/10/social-youtube.png"
                alt="" width="40" height="32"></a></li>
            </ul>
          </div>
        </div>
        <div class="row mt-5 mb-1 mt-lg-auto mb-md-0 align-items-center">
          <div class="col-sm-auto col-lg-12 col-xl-auto">
            <div class="footer-copyright text-left">
              <img src="https://furamavietnam.com/wp-content/uploads/2019/02/Ariyana-Tourism-Complex-02-2.png"
                   alt="Ariyana Tourism Complex" width="500px;">
              <div class="clearfix d-md-none"></div>
              © 2018 Furama Resort Danang.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

