<!-- C1:-->
<!--<h1 [style]="color">-->
<!--Thay đổi màu chữ</h1>-->

<!--<select [(ngModel)]="color">-->
<!--  <option value="color: red">red</option>-->
<!--  <option value="color: blue">blue</option>-->
<!--  <option value="color: yellow">yellow</option>-->
<!--</select>-->


<!-- C2:-->
<!--<h1 [style.color]="color">-->
<!--  Thay đổi màu chữ</h1>-->

<!--<button type="submit" value="red" style="color: red" (click)="click($event)">Màu Đỏ</button>-->
<!--<button type="submit" value="blue" style="color: blue" (click)="click($event)">Màu Xanh</button>-->
<!--<button type="submit" value="yellow" style="color: yellow" (click)="click($event)">Màu Vàng</button>-->
<!--<button type="submit" value="white" style="color: white" (click)="click($event)">Màu Trắng</button>-->


